<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2><%= @taxon.name %></h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="#">shop</a>
            </li>
            <li class="active"><%= @taxon.name %></li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row sideBar">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <%= render "sidebar_product", taxonomies: @taxonomies %>
          <%= render "sidebar_color" %>
          <%= render "sidebar_size" %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row filterArea">
            <div class="col-xs-6">
              <select name="guiest_id1" id="guiest_id1" class="select-drop">
                <option value="0">並び替え</option>
                <option value="1">人気順</option>
                <option value="2">安い順</option>
                <option value="3">新着順</option>
                <option value="3">高い順</option>
              </select>
            </div>
            <div class="col-xs-6">
              <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default active"
                  onclick="window.location.href='product_grid_left_sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
                <button type="button" class="btn btn-default"
                  onclick="window.location.href='product_list_left_sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
              </div>
            </div>
          </div>
          <%= render "category_products", products: @products %>
        </div>
      </div>
    </div>
  </section>
  <!-- LIGHT SECTION -->
  <%= render "partner_logo" %>
</div>