<!DOCTYPE html>
<html>

  <head>
    <title><%= yield(:title) %> - BIGBAG Store</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <!-- HEADER -->
    <div class="header clearfix">
      <!-- TOPBAR -->
      <%= render "shared/topbar" %>
      <!-- NAVBAR -->
      <%= render "shared/navbar" %>
    </div>
    <%= yield %>
    <!-- FOOTER -->
    <%= render "shared/footer" %>
    <%= javascript_include_tag 'application' %>
  </body>

</html>